<nav>
    <li><a href="<%- nav[0].url %>">
            <%-nav[0].name%>
        </a></li>
    <li><a href="<%- nav[1].url %>">
            <%-nav[1].name%>
        </a></li>
    <li><a href="<%- nav[2].url %>">
            <%-nav[2].name%>
        </a></li>
    <li><a href="<%- nav[3].url %>">
            <%-nav[3].name%>
        </a></li>
    <li><a href="<%- nav[4].url %>">
            <%-nav[4].name%>
        </a></li>
</nav>